
<template name="addTaskModal">
  <div class="modal" id="add-task-modal">
    <form id="add-form">
      <div class="modal-content" style="padding-bottom: 0;">
        <div class="input-field">
          <input placeholder="Task title" name="title" type="text" class="validate card-title grey-text">
        </div>
        <div class="input-field">
          <input placeholder="Project" id="add-task-project" name="project" type="text" class="validate">
        </div>
        {{> addTaskTimeSettings}}
        <div class="input-field">
          <textarea name="content" class="materialize-textarea" style="margin-bottom: 0;" placeholder="Task description"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn-flat waves-effect waves-green left" type="submit" name="add">Add</button>
        <button class="btn-flat waves-effect modal-close waves-red right" type="button" name="cancel">Cancel</button>
      </div>
    </form>
  </div>
</template>

<template name="addTaskTimeSettings">
  <div class="row" style="padding: 0; margin: 0;">
    <div class="input-field col s6" style="padding-left: 0;">
      <label for="duedate">Due date</label>
      <input type="date" class="datepicker" name="duedate">
    </div>
    <div class="input-field col s6" style="padding-right: 0;">
      <label for="frequency">Frequency</label>
      <input type="text" id="add-task-frequency" name="frequency">
    </div>
  </div>
</template>

<template name="addTaskFrequencyModal">
  <div id="add-task-frequency-modal" class="modal">
    <form id="add-task-frequency-form">
      <div class="modal-content" style="padding-bottom: 0;">
        <h4>Task frequency</h4>
        <div class="row" style="margin: 0;">
          <div class="input-field col s4">
            <label>Number</label>
            <input type="number" name="number" placeholder="1">
          </div>
          <div class="input-field col s4">
            <span class="text-grey flow-text center-align">times a</span>
          </div>
          <div class="input-field col s4">
            <div class="select-wrapper">
              <select name="timeperiod">
                <option value="week" selected>week</option>
                <option value="month">month</option>
                <option value="year">year</option>
              </select>
            </div>
            <label>Timeperiod</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" id="add-task-frequency-modal-clear" class="modal-close waves-effect waves-red btn-flat left">Clear</a>
        <a href="#!" id="add-task-frequency-modal-choose" class="modal-action modal-close submit waves-effect waves-green btn-flat right">Choose</a>
      </div>
    </form>
  </div>
</template>
