
<template name="actionButton">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large light-blue">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <!-- <li><a class="btn-floating lime"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating amber"><i class="material-icons">attach_file</i></a></li> -->
      <li><a id="add-task-btn" class="btn-floating teal modal-trigger"  href="#add-task-modal"><i class="material-icons tooltipped" data-tooltip="new task" data-position="left">add</i></a></li>
    </ul>
  </div>
</template>
