
<template name="search">
  <div class="row">
    <nav class="white">
      <div class="nav-wrapper">
        <form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label for="search"><i class="material-icons blue-grey-text">search</i></label>
            {{> sortAndFilter}}
          </div>
        </form>
      </div>
    </nav>
  </div>
</template>

<template name="sortAndFilter">
  <a href="#" data-activates="sort-dropdown" data-hover="true" data-beloworigin="true" data-constrainwidth="false" style="display: box; float: right; position: absolute; right: 15px; top: 0;" class="dropdown-button"><i class="material-icons blue-grey-text">sort</i></a>
  <div id="sort-dropdown" class="dropdown-content">
    <form action="#">
        <p class="grey-text">Sort</p>
        <p id="sort-radiogroup">
        <input class="with-gap" name="sort" value="sort-created-desc" type="radio" id="sort-created-desc" checked="checked" />
        <label for="sort-created-desc">Created desc</label><br>
        <input class="with-gap" name="sort" value="sort-created-asc" type="radio" id="sort-created-asc" />
        <label for="sort-created-asc">Created asc</label><br>
        <input class="with-gap" name="sort" value="sort-guilt-desc" type="radio" id="sort-guilt-desc" />
        <label for="sort-guilt-desc">Guilt desc</label></p>
        <hr>
        <p class="grey-text">Filter</p>
        <input type="checkbox" class="filled-in" id="filter-show-checked" />
        <label for="filter-show-checked">Show completed</label>
    </form>
  </div>
</template>
