/* CSS declarations go here */

span.weeny-badge {
  margin-left: 7px;
  padding: 5px;
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 2px;
}

.task-btns{
display: none;
}
.task:hover .task-btns{
display : block;
}

.task-title{
  color: "grey";
}
