/* CSS declarations go here */

#sort-dropdown {
  width: auto;
  min-width:200;
  padding: 15px;
  line-height: 1rem;
}

#sort-dropdown hr {
  margin: 5px;
}

#sort-dropdown i {
  top: auto;
  bottom: auto;
  display: inline-block;
}

#add-task-modal {
  max-height: 90%;
}

#add-task-frequency-modal {
  width: auto;
  max-width: 400px;
}

.modal {
  z-index: 1601;
}

span.weeny-badge {
  margin-left: 7px;
  padding: 5px;
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 2px;
}

.collapsible-header {
  position: relative;
  overflow: hidden;
}

.collapsible-body {
  overflow: none;
  height: auto;
}

.task-content {
  padding: 10px;
  overflow: none;
  min-height: 150px;
  width: 100%;
  height: auto;
}

.task-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.task-content iframe {
  min-height: 150px;
}

.task-content ul {
  padding-left: 10px;
  list-style: none;
}

.task-content ul li {
  list-style: inside;
}

.task-content ol {
    list-style: none;
    margin: 0px 0px 0px 10px;
    padding: 0;
    counter-reset: num;
}

.task-content ol li:before {
    content: counter(num) '. ';
    counter-increment: num;
}

.task-content p {
  padding: 5px;
}

.task-btns {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  background-color: inherit;
  z-index: 1000;
  height: 100%;
  text-align: right;
  margin-left: 50px;
}
.task:hover .task-btns {
  display : block;
}

.task-title {
  color: "grey";
}

.material-tooltip {
  z-index: 1501;
}

.backdrop {
  background-color: rgba(50, 50, 50, 0.8);
}

code {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
}

pre {
  line-height: normal;
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
  margin: 10px 0;
  overflow: hidden;
  padding: 15px;
  white-space: pre-wrap;
}

pre code {
  font-size: 60%;
  background-color: transparent;
}

.hljs-keyword {
  color: #ff8a65;
}

.hljs-function {
  color: #607d8b;
}


/* Toast box styling */
#toast-container {
  top: 3%;
  right: 2%;
}
.buttered-toast {
  opacity: 0.7 !important;
}
